In [2]:
#import mysql.connector
import numpy as np
import pandas as pd
import json

ModuleNotFoundError: No module named 'numpy'

In [1]:
from pyspark.sql import SparkSession

In [4]:
import findspark
findspark.init()
findspark.find()

'c:\\Users\\selen\\anaconda3\\envs\\telefonica\\Lib\\site-packages\\pyspark'

In [5]:

# Import PySpark
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# Data
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

# Columns
columns = ["language","users_count"]

# Create DataFrame
df = spark.createDataFrame(data).toDF(*columns)

# Print DataFrame
df.show()

Py4JJavaError: An error occurred while calling o71.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 1.0 failed 1 times, most recent failure: Lost task 0.0 in stage 1.0 (TID 1) (MSI executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/java.net.PlainSocketImpl.waitForNewConnection(Native Method)
	at java.base/java.net.PlainSocketImpl.socketAccept(PlainSocketImpl.java:163)
	at java.base/java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:458)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:565)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:533)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 30 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4177)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4167)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:526)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4165)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4165)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3382)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:284)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:323)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/java.net.PlainSocketImpl.waitForNewConnection(Native Method)
	at java.base/java.net.PlainSocketImpl.socketAccept(PlainSocketImpl.java:163)
	at java.base/java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:458)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:565)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:533)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 30 more

In [ ]:
# Create DataFrame in PySpark Shell
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]
df = spark.createDataFrame(data)
df.show()

In [7]:
driver_path = "C:/Users/selen/Downloads/mysql-connector-j-8.3.0/mysql-connector-j-8.3.0/mysql-connector-j-8.3.0.jar"

In [10]:
# Initialize Spark Session with the MySQL JDBC driver
spark = SparkSession.builder \
    .appName("MySQL to CSV") \
    .config("spark.jars", driver_path) \
    .getOrCreate()

# Database connection properties
database_url = "jdbc:mysql://localhost/telefonica_siom"
properties = {
    "user": "root",
    "password": "viviana",
    "driver": "com.mysql.cj.jdbc.Driver"
}

# SQL query
query = "(SELECT os.orse_id, os.orse_fecha_creacion, fit.foit_opciones, e.empl_nombre, e.empl_direccion, e.empl_nemonico FROM formulario_valor fv LEFT JOIN formulario_item fit ON fv.foit_id = fit.foit_id LEFT JOIN rel_informe_formulario_respuesta rifr ON fv.fore_id = rifr.fore_id LEFT JOIN formulario_respuesta fr ON fv.fore_id LEFT JOIN rel_orden_servicio_formulario rosf ON rosf.form_id = fr.form_id LEFT JOIN orden_servicio os ON os.orse_id = rosf.orse_id LEFT JOIN emplazamiento e ON e.empl_id = os.empl_id WHERE fv.foit_id = 21062) as my_query"

# Read data into Spark DataFrame
df = spark.read.jdbc(url=database_url, table=query, properties=properties)

# Perform data processing here (if needed)

# Write DataFrame to CSV
df.write.csv("output.csv", header=True)

# Stop the Spark session
spark.stop()

Py4JJavaError: An error occurred while calling o40.jdbc.
: java.lang.ClassNotFoundException: com.mysql.cj.jdbc.Driver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:471)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:41)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:34)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at org.apache.spark.sql.DataFrameReader.jdbc(DataFrameReader.scala:249)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [2]:
import pandas as pd
import mysql.connector

# Database connection
cnx = mysql.connector.connect(
    user="root",
    password="viviana",
    host="localhost",
    database="telefonica_siom",
    connection_timeout=10000)

# SQL query
query = '''
    SELECT 
    os.orse_id, os.orse_fecha_creacion, fit.foit_opciones, e.empl_nombre, e.empl_direccion, e.empl_nemonico
    FROM formulario_valor fv
    LEFT JOIN formulario_item fit ON fv.foit_id = fit.foit_id 
    LEFT JOIN rel_informe_formulario_respuesta rifr ON fv.fore_id = rifr.fore_id
    LEFT JOIN formulario_respuesta fr ON fv.fore_id
    LEFT JOIN rel_orden_servicio_formulario rosf ON rosf.form_id = fr.form_id 
    LEFT JOIN orden_servicio os ON os.orse_id = rosf.orse_id 
    LEFT JOIN emplazamiento e ON e.empl_id = os.empl_id 
    WHERE fv.foit_id = 21062
'''

# Create a DataFrame directly from the query
# You can adjust chunksize based on your system's memory
chunksize = 10  # Example chunk size
dfs = pd.read_sql_query(query, cnx, chunksize=chunksize)

# Concatenate chunks into a single DataFrame (if needed)
df = pd.concat([chunk for chunk in dfs], ignore_index=True)

# Close the database connection
cnx.close()

C:\Users\selen\AppData\Local\Temp\ipykernel_20528\3992855792.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfs = pd.read_sql_query(query, cnx, chunksize=chunksize)

OperationalError: 2013 (HY000): Lost connection to MySQL server during query

In [2]:
# conectarse a base de datos
cnx = mysql.connector.connect(
        user="root",
        password="viviana",
        host="localhost",
        database="telefonica_siom",
        connection_timeout=10000)

# query de interes

query = '''SELECT 
os.orse_id, os.orse_fecha_creacion, fit.foit_opciones, e.empl_nombre, e.empl_direccion, e.empl_nemonico
FROM formulario_valor fv
left join formulario_item fit on fv.foit_id = fit.foit_id 
left join rel_informe_formulario_respuesta rifr on fv.fore_id = rifr.fore_id
left join formulario_respuesta fr on fv.fore_id
left join rel_orden_servicio_formulario rosf on rosf.form_id = fr.form_id 
left join orden_servicio os on os.orse_id = rosf.orse_id 
left join emplazamiento e on e.empl_id = os.empl_id 
where fv.foit_id = 21062'''


# se hace un dataframe
db_cursor = cnx.cursor()
db_cursor.execute(query)
rows =db_cursor.fetchall()
df = pd.DataFrame(rows, columns = db_cursor.column_names)
df.columns

MemoryError:

In [31]:
df

,fova_id,fore_id,foit_id,fova_valor,foit_id,fogr_id,foit_tipo,foit_nombre,foit_orden,foit_requerido,...,orse_comentario,orse_tag,orse_sla_incluida,orden_consolidado,seot_id,caaf_aper_id,caaf_cier_id,orse_id_relacionado,orse_pago_relacionado,orse_contador
0,22713940,688830,21062,"[[""NO"","""",null,[],[],"""",[],""Na""],[""NO"","""","""",[...",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
1,22866060,693606,21062,"[[""NO"",""R22"",""No se realizó recarga de gas ref...",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
2,23552975,712300,21062,"[[""NO"",""R22"",""0"",[],[],""5"",[],""no secrecarga g...",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
3,23940874,722158,21062,"[[""NO"",""Otro"",""NA"",[],[],""2"",[],null]]",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
4,24417599,735002,21062,"[[""NO"","""",null,[],[],"""",[],""No se ha realizado...",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2129,31477366,918997,21062,"[["""","""",null,[],[],"""",[],""No se realizó""]]",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
2130,31872636,929696,21062,"[["""","""",null,[],[],"""",[],""no se requiere""]]",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
2131,32441004,945048,21062,"[[""NO"","""",""NA"",[],[],"""",[],""NA""]]",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
2132,32620319,949969,21062,"[[""NO"","""","""",[],[],"""",[],""no se puede verifica...",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None
2133,32686430,951802,21062,"[[""NO"","""","""",[],[],"""",[],null]]",21062,1393,AGGREGATOR,AG,0,0,...,None,None,None,None,None,None,None,None,None,None

In [32]:
df.fova_id.unique()
for row in df.fova_id.unique():
    
    if row == 22713940:
        print(row)

22713940

In [35]:
features = ['fova_id','fore_id','foit_id','info_fecha_creacion', 'fova_valor','info_id']

In [36]:
df[features]

,fova_id,fore_id,fore_id,foit_id,foit_id,info_fecha_creacion,fova_valor,info_id,info_id
0,22713940,688830,688830.0,21062,21062,2022-06-25 10:20:11,"[[""NO"","""",null,[],[],"""",[],""Na""],[""NO"","""","""",[...",187964.0,187964.0
1,22866060,693606,693606.0,21062,21062,2022-06-30 20:26:56,"[[""NO"",""R22"",""No se realizó recarga de gas ref...",188792.0,188792.0
2,23552975,712300,712300.0,21062,21062,2022-08-06 15:02:43,"[[""NO"",""R22"",""0"",[],[],""5"",[],""no secrecarga g...",194373.0,194373.0
3,23940874,722158,722158.0,21062,21062,2022-08-19 15:17:04,"[[""NO"",""Otro"",""NA"",[],[],""2"",[],null]]",196558.0,196558.0
4,24417599,735002,735002.0,21062,21062,2022-09-13 16:05:36,"[[""NO"","""",null,[],[],"""",[],""No se ha realizado...",200352.0,200352.0
...,...,...,...,...,...,...,...,...,...
2129,31477366,918997,918997.0,21062,21062,2023-08-16 14:34:01,"[["""","""",null,[],[],"""",[],""No se realizó""]]",248660.0,248660.0
2130,31872636,929696,929696.0,21062,21062,2023-09-11 17:00:54,"[["""","""",null,[],[],"""",[],""no se requiere""]]",251929.0,251929.0
2131,32441004,945048,945048.0,21062,21062,2023-10-16 18:11:34,"[[""NO"","""",""NA"",[],[],"""",[],""NA""]]",256467.0,256467.0
2132,32620319,949969,949969.0,21062,21062,2023-10-31 18:57:22,"[[""NO"","""","""",[],[],"""",[],""no se puede verifica...",258021.0,258021.0
2133,32686430,951802,951802.0,21062,21062,2023-11-07 16:55:10,"[[""NO"","""","""",[],[],"""",[],null]]",258597.0,258597.0

In [6]:
def extract_labels(json_str):
    try:
        data = json.loads(json_str)
        return data['labels']
    except (json.JSONDecodeError, KeyError):
        return []

In [7]:
#primero obtenemos las nuevas columnas a agregarse
new_row_list = [] # lista para guardar la info 
json_columns = df.foit_opciones.iloc[1]
array_new_columns = extract_labels(json_columns)
len_new_columns = len(array_new_columns)
print(array_new_columns)
print(f'El # de nuevas columnas: {len_new_columns}')

for row in df[features].fova_valor.iloc(): # se extrae cada fila del df que se extrae de la query
    load = json.loads(row) # se separan las nuevas filas 
    for new_row in load: 
        new_row[1]
        new_row_list.append(new_row)

['¿SE HA RECARGADO REFRIGERANTE? ', 'TIPO DE REFRIGERANTE', 'CANTIDAD DE GAS RECARGADO (KG)', 'FOTO DE BALANZA DE BALON ANTES DE RECARGA', 'FOTO DE BALANZA DE BALON DESPÚES DE RECARGA', 'CAPACIDAD DE AA (TR)', 'FOTO DE MANOMETRO DE BP Y AP', 'OBSERVACIÓN']
El # de nuevas columnas: 8

In [8]:
df_new_rows = pd.DataFrame(new_row_list, columns= array_new_columns) # dataframe con las nuevas filas

In [9]:
df_new_rows

,¿SE HA RECARGADO REFRIGERANTE?,TIPO DE REFRIGERANTE,CANTIDAD DE GAS RECARGADO (KG),FOTO DE BALANZA DE BALON ANTES DE RECARGA,FOTO DE BALANZA DE BALON DESPÚES DE RECARGA,CAPACIDAD DE AA (TR),FOTO DE MANOMETRO DE BP Y AP,OBSERVACIÓN
0,NO,,None,[],[],,[],Na
1,NO,,,[],[],,[],Na
2,NO,R22,No se realizó recarga de gas refrigerante,[],[],3,[{'image': '81493c4f-a6e0-4791-8c9e-494223ac10...,Equipo apagado sin presencia de personal en of...
3,NO,R22,No se realizó recarga de gas refrigerante,[],[],3,[{'image': '896720a8-0bf8-49bf-a7c2-78f591c09c...,Equipo apagado sin presencia de personal en of...
4,NO,R22,No se realizó recarga de gas refrigerante,[],[],3,[{'image': '9503dbb7-1f85-4c2a-bf42-2f8ebd237c...,Equipo apagado sin presencia de personal en of...
...,...,...,...,...,...,...,...,...
3555,,,None,[],[],,[],No se realizó
3556,,,None,[],[],,[],no se requiere
3557,NO,,NA,[],[],,[],NA
3558,NO,,,[],[],,[],no se puede verificar por problemas en aristas...
3559,NO,,,[],[],,[],None